html {  
  height: 100%;
}

body { 
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; 
  /*background: url(http://www.jmchristensendesign.com/wp-content/themes/jmcdsn/images/intro_default-background.jpg); */
  /*background: url(https://cloud.githubusercontent.com/assets/1145187/7201414/15c357e8-e507-11e4-999c-4e84660d6c70.png); */
  /*background: url(https://cloud.githubusercontent.com/assets/1145187/7201488/f8513c9c-e507-11e4-9bf7-1b2f50d2e9b8.png); */
  background: url(https://cloud.githubusercontent.com/assets/1145187/7201481/e9c840b2-e507-11e4-8473-10b3eed54a5b.png); 

  
  color: #fff; 
  height: 100%; 
  padding-top: 2em;
}

h1, h2{ margin: 0; text-shadow: 0 0 0.5em black;}

h2 { font-weight: 300}



.map {
  opacity: 0.8;
}

.marker {
  stroke: #6EA736;
  stroke-width: 5;
  fill: rgba(255,255,255,1);
  radius: 55;
}

.delayed {
  stroke: #CC522E;
}

.label {
  fill: #fff; 
  font-size: 14px;
  font-color: red;
  font-family: 'Andale Mono', AndaleMono, monospace;
}


.train {
  width: 73;  
}

